{% extends 'base.html' %}

{% block content %}

{% include 'side_menu.html' %}

<div class="container-detail">
    <h3>School</h3>
    <hr>

    <div class="addtask">
        <span>+</span>
        <span>Add Task</span>
    </div>
    <p>3 tasks</p>
    <div class="tasks">
        <h4>Title</h4>
        <p>Description One line</p>
        <p>time</p>
    </div>
    <div class="tasks">
        <h4>Title</h4>
        <p>Description One line</p>
        <p>time</p>
    </div>
    <div class="tasks">
        <h4>Title</h4>
        <p>Description One line</p>
        <p>time</p>
    </div>
</div>

{% endblock %}